.navbar {
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.6s;
  font-weight: 800;
  /* background-color: #891502; */
}

.navbar.sticky {
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  backdrop-filter: blur(20px);
  background: black;
  height: calc(2.5rem + 1.8rem);
}

nav {
  display: flex;
  padding: 0.5%;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s;
}

nav img {
  width: 65px;
  margin: 0px 20px;
  margin-left: 35px;
}

.navlinks {
  flex: 1;
  text-align: right;
}

.navlinks ul li {
  /* list-style: none; */
  display: inline-block;
  padding: 8px 10px;
  position: relative;
}

.navlinks ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  /* font-weight: 200; */
  font-family: "Oswald", sans-serif;
}

/* .navlinks ul li a.active {
  color: #c72209;
} */

.navlinks ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  border-radius: 3px;
  display: block;
  margin: auto;
  transition: 0.3s;
}

.navlinks ul li:hover::after {
  width: 100%;
}

.navbutton {
  background: #00d1a0;
  border-radius: 10px;
}

.navbutton:hover {
  background: #01c698;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
}

.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 3px 3px;
}

.homepage {
  background: url("../img/home.png")no-repeat center center/cover;
  /* background: url("../img/homebg.png"); */
  min-height: 100vh;
  /* position: absolute;
  top: 0; */
}
/* .hp-bg{ */
  /* height: auto;  */
  /* min-height: 100vh; */
  /* width: 100%;  */
  /* margin-bottom: -1%;  */
/* } */
/* .hp-bg img{ */
  /* z-index: 1; */
  /* width: 100%; */
  /* object-fit: cover; */
/* } */
.homepage .gold {
  position: absolute;
  left: 32%;
  top: 136px;
  width: 38%;
  z-index: -1;
}

.home-main {
  box-sizing: border-box;
  padding-top: 5%;
  /* padding: 10% 25% 0 25%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: visible;
  width: 100vw;
}

.hp-img {
  /* width: 60%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15% 0;
}
.hp-content{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  object-fit: cover;
  /* height: 100%; */
  /* width: 80%; */
}
.hp-content img{
  width: 60%;
}
/* .hp-img img{
  width: 70%;
}
.hp-content img{
  width: 80%;
} */


/* .home-main img {
  width: 45%;
  max-width: 700px;
  margin-bottom: 50px;
  width: 33%;
  margin-left: 20%;
} */

/* .home-main .home-head {
  font-size: 34px;
  right: 250px;
  color: white;
} */
/* 
.hp-content {
  text-align: center;
  /* color: white;
  margin-bottom: 30px; */
  /* justify-content: center; */
/* } */ 
/* .hp-content img{
  width: 60%;
} */

/* .hp-content p {
  margin: 20px 14%;
  font-size: 18px;
} */

.hp-btn {
  /* margin: 1% 0; */
  text-align: center;
  overflow: visible;
  /* height: 10%; */
  /* margin: 1%; */
  font-family: 'Ramabhadra';
}

.home-btn {
  
  /* letter-spacing: 1.46em; */
  padding: 12px 20px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 18px;
  margin: 0px 60px;
  font-weight: 550;
  color: white;
  transition: 0.3s all;
}

.home-btn:hover {
  cursor: pointer;
  transform: scale(1.1)
}

.hp-btn .colo {
  background-color: transparent;
  color: white;
}



@media(min-width:1300px){
  /* .hp-img img{
    width: 60%;
  } */
  .hp-content img{
    width: 80%;
  }
}
@media(max-width:900px){ 
  .hp-content img{
    width: 80%;
  }
}
@media(max-width:480px){ 
  .home-main{
    margin-top: -10%;
  }
  /* .hp-img img{
    width: 25%;
  } */
  .hp-content img{
    width: 100%;
  }
  .home-btn{
    /* width: 50%; */
    /* letter-spacing: 0.46em; */
    padding: 10px 10px;
  }
  .hp-btn{
    text-align: center;
    /* width: 300px; */
    /* width: 100%; */
    height: 50px;
  }
  .home-btn{
    width: 280px;
    height: 60px;
    font-size: 32px;
  }
}
/* @media(max-width:420px){ 
  
  .hp-img img{
    width: 25%;
  }
  .hp-content img{
    width: 50%;
  }
  .home-btn{
    width: 50%;
 
    padding: 5px 5px;
  }
} */