.heading {
    font-size: 1.1rem;
}
.para{
    font-size: 16px;
    margin: 14px 4%;
    line-height: 150%;
  }
.abo-row {
    grid-template-columns: repeat(2, 1fr);
    /* padding: 20px; */
}


.Eventcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.eve-card .rec {
    width: 300px;
    height: 400px;
}

.eve-card .circle {
    top: 44px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
}

.eve-btn {
    top: 28px;
}

.comp-row {
    flex-direction: column;
    margin: 40px 30px;
}

.comp-card {
    /* margin: 10px auto; */
    margin: 10%;
    width: 240px;
}

.btn-arrow {
    display: none;
}

.footer .socials {
    width: 90%;
}

.carousel {
    width: 95vw;
}

.inner {
    width: 95vw;
}

.container .slide {
    width: 95vw;
}

.quote {
    padding: 30px;
    font-size: large;
}

.abo-card {
    width: 20%;
    height: max-content;
    padding: 10px;
    font-size: medium !important;
}

.abo-card span,
.abo-card h1 {
    font-size: large;
}

.burger {
    display: inline;
}

.navlist {
    display: none;
}

.mobile-list {
    position: fixed;
    padding: 20px;
    width: max-content;
    height: max-content;
    font-size: large;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: white;
    background-color: black;
    border-radius: 10px;
    transition: 0.5s all;
}

.active {
    display: block;
    
}

.mobile-list ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}